/* Tailwind custom classes for white shadow */
.hover\:shadow-white:hover {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.1);
}
/* 
.sect1 {
  background-image: url("/bg.webp") ;

  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right;
}
 */
.hamburger {
  flex-direction: column;
  justify-content: space-between;
  width: 30px !important;
  height: 20px;
  cursor: pointer;
}

.hamburger div {
  width: 100%;
  height: 4px;
  background-color: #d9a16f;
  transition: all 0.3s ease;
}

.hamburger.active .line1 {
  background-color: yellow;
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .line2 {
  background-color: yellow;
  opacity: 0;
}

.hamburger.active .line3 {
  background-color: yellow;
  transform: rotate(-45deg) translate(5px, -5px);
}
