<section class="sect1 min-h-screen">
  <nav class="flex items-center sm:mx-12 mx-2 justify-between p-4 text-white">
    <!-- Logo Section -->
    <div class="flex-shrink-0">
      <img src="zaza_logo.webp" alt="Logo" class="h-auto w-14" />
    </div>

    <!-- Navigation Section -->
    <div class="hidden ml:flex space-x-6">
      <a href="#home" class="tracking-wide font-thin hover:text-gray-400"
        >HOME</a
      >
      <a href="#products" class="tracking-wide font-thin hover:text-gray-400"
        >OUR PRODUCTS</a
      >
      <a href="#aboutus" class="tracking-wide font-thin hover:text-gray-400"
        >ABOUT US
      </a>
      <a href="#contact" class="tracking-wide font-thin hover:text-gray-400"
        >CONTACT
      </a>
    </div>

    <!-- Request a Quote Section -->
    <div>
      <a
        href="#quote"
        class="text-white px-4 py-3 font-bold border hover:bg-col2 hover:text-black hover:border-col2 transform transition duration-300 ease-in-out shadow-lg hover:shadow-white"
      >
        REQUEST A QUOTE
      </a>
    </div>
  </nav>

  <section class="mx-20 my-10 w-[70vw] h-[70vh] bg-slate-500">
    <h1
      class="px-3 font-bold text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl"
    >
      Your dream fireplace,<br />
      made by experts.
    </h1>

    <p
      class="p-4 sm:px-6 md:px-8 lg:px-12 font-normal text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl"
    >
      Entrust your project to our team of professionals <br />
      for a perfect installation
    </p>

    <div class="px-2 sm:px-4 md:px-6 lg:px-8 pt-4 sm:pt-6 md:pt-8 lg:pt-10">
      <button
        class="flex tracking-wide items-center bg-col2 text-white px-3 sm:px-4 md:px-6 lg:px-8 py-1 sm:py-2 md:py-3 text-sm sm:text-base md:text-lg lg:text-xl hover:bg-col2-dark transition duration-300"
      >
        EXPLORE OUR PRODUCTS
        <span class="ml-2 font-bold">&rarr;</span>
        <!-- Right arrow -->
      </button>
    </div>
  </section>
</section>

<section class="products">
  <div
    class="bg-gray-700c flex flex-col md:flex-row lg:mx-24 md:mx-14 sm:mx-6 m-4 md:gap-1"
  >
    <h1 class="text-white w-auto tracking-wide text-5xl font-bold basis-2.5/5">
      FROM DESIGN <br />
      TO IMPLEMENTATION
    </h1>
    <p class="text-col2 tracking-wide ml-10 font-normal basis-auto mt-auto">
      We provide complete support for our projects, <br />
      until their full implementation.
    </p>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 px-6 lg:px-20 py-6"
  >
    <div
      class="bg-yellow-900 rounded-3xl aspect-w-1 aspect-h-1 md:col-span-1 sm:col-span-2"
    >
      <p class="text-col2 font-thin mx-20 mt-10">
        <strong>CHEMNEY</strong>
      </p>
      <h1 class="text-white mx-8 text-3xl font-normal tracking-wider">
        WOOD DESIGN
      </h1>
      <h1 class="text-col2 mt-20 text-xl font-normal">SEE MORE</h1>
    </div>
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="bois.webp"
        class="rounded-3xl object-cover w-full h-full"
        alt="cheminée a bois"
      />
    </div>
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="bois2.webp"
        class="rounded-3xl object-cover w-full h-full"
        alt="cheminée a bois"
      />
    </div>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 px-6 lg:px-20 py-6"
  >
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="ethanol1.webp"
        class="rounded-3xl object-cover w-full h-full"
        alt="cheminée a bois"
      />
    </div>
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="ethanol2.webp"
        class="rounded-3xl object-cover w-full h-full"
        alt="cheminée a bois"
      />
    </div>
    <div
      class="bg-yellow-900 rounded-3xl aspect-w-1 aspect-h-1 md:col-span-1 sm:col-span-2"
    >
      <p class="text-col2 font-thin mx-20 mt-10">
        <strong>CHEMNEY</strong>
      </p>
      <h1 class="text-white mx-8 text-3xl font-normal tracking-wider">
        ETHANOL DESIGN
      </h1>
      <h1 class="text-col2 mt-20 text-xl font-normal">SEE MORE</h1>
    </div>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 px-6 lg:px-20 py-6"
  >
    <div
      class="bg-yellow-900 rounded-3xl aspect-w-1 aspect-h-1 md:col-span-1 sm:col-span-2"
    >
      <p class="text-col2 font-thin mx-20 mt-10">
        <strong>CHEMNEY</strong>
      </p>
      <h1 class="text-white mx-8 text-3xl font-normal tracking-wider">
        STEAM <br />
        DESIGN
      </h1>
      <h1 class="text-col2 mt-20 text-xl font-normal">SEE MORE</h1>
    </div>
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="vapeur1.webp"
        class="rounded-3xl object-cover w-full h-full"
        alt="cheminée a vapeur "
      />
    </div>
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="vapeur2.webp"
        class="rounded-3xl object-cover w-full h-full"
        alt="cheminée a vapeur "
      />
    </div>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 px-6 lg:px-20 py-6"
  >
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="ethanol3.webp"
        class="rounded-3xl object-cover w-full h-full"
        alt="cheminée a bois"
      />
    </div>
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="ethanol4.webp"
        class="rounded-3xl object-cover w-full h-full"
        alt="cheminée a bois"
      />
    </div>
    <div
      class="bg-yellow-900 rounded-3xl aspect-w-1 aspect-h-1 md:col-span-1 sm:col-span-2"
    >
      <p class="text-col2 font-thin mx-20 mt-10">
        <strong>CHEMNEY</strong>
      </p>
      <h1 class="text-white mx-8 text-3xl font-normal tracking-wider">
        ETHANOL DESIGN
      </h1>
      <h1 class="text-col2 mt-20 text-xl font-normal">SEE MORE</h1>
    </div>
  </div>
</section>
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->

<section class="AboutUs">
  <div
    class="bg-gray-700c flex flex-col md:flex-row lg:mx-24 md:mx-14 sm:mx-6 m-4 md:gap-1"
  >
    <h1 class="text-white w-auto tracking-wide text-5xl font-bold basis-3/5">
      WHY CHOOSE <br />
      ZAZA FIREPLACE
    </h1>
    <p class="text-col2 tracking-wide ml-10 font-normal basis-auto mt-auto">
      We deliver safe, adaptable, practical, reliable, and aesthetically <br />
      pleasing fireplaces throughout Morocco, tailored to your specific needs.
    </p>
  </div>
</section>

<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<!-- ///////////////////////////////////////////////*/ -->
<section class="Process">
  <div
    class="bg-gray-700c flex flex-col md:flex-row lg:mx-24 md:mx-14 sm:mx-6 m-4 md:gap-1"
  >
    <h1 class="text-white w-auto tracking-wide text-5xl font-bold basis-2.5/5">
      Supporting your projects, <br />
      Our approach :
    </h1>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 px-4 lg:px-20 py-2"
  >
    <div
      class="bg-yellow-900 rounded-xl aspect-w-1 aspect-h-1 flex flex-col justify-center"
    >
      <p class="text-col2 font-thin mx-20">
        <strong>STEP 01</strong>
      </p>
      <h1 class="text-white mx-8 text-3xl font-normal tracking-wider">
        ASK FOR YOUR QUOTE
      </h1>
      <p class="text-col2 font-thin mx-20">
        <strong>
          <h1 class="text-col2 lg:mx-10 text-xl font-normal">
            Filling out the form helps us get to know your project
          </h1>
        </strong>
      </p>
    </div>
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="demarche1.webp"
        class="rounded-xl object-cover w-full h-full"
        alt="cheminée a bois"
      />
    </div>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 px-4 lg:px-20 py-2"
  >
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="demarche2.webp"
        class="rounded-lg object-cover w-full h-full"
        alt="cheminée a bois"
      />
    </div>
    <div
      class="bg-yellow-900 rounded-xl aspect-w-1 aspect-h-1 flex flex-col justify-center"
    >
      <p class="text-col2 font-thin mx-20">
        <strong>STEP 02</strong>
      </p>
      <h1 class="text-white mx-8 text-3xl font-normal tracking-wider">
        CONSULTATION WITH EXPERTS
      </h1>
      <p class="text-col2 font-thin mx-20">
        <strong>
          <h1 class="text-col2 lg:mx-10 text-xl font-normal">
            We receive your quote request and discuss your project needs and
            objectives with you
          </h1>
        </strong>
      </p>
    </div>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 px-4 lg:px-20 py-2"
  >
    <div
      class="bg-yellow-900 rounded-xl aspect-w-1 aspect-h-1 flex flex-col justify-center"
    >
      <p class="text-col2 font-thin mx-20">
        <strong>STEP 03</strong>
      </p>
      <h1 class="text-white mx-8 text-3xl font-normal tracking-wider">
        GET A FREE QUOTE
      </h1>
      <p class="text-col2 font-thin mx-20">
        <strong>
          <h1 class="text-col2 lg:mx-10 text-xl font-normal">
            The best quality at the best price.
          </h1>
        </strong>
      </p>
    </div>
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="demarche3.webp"
        class="rounded-lg object-cover w-full h-full"
        alt="cheminée a bois"
      />
    </div>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 px-4 lg:px-20 py-2"
  >
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="demarche4.webp"
        class="rounded-lg object-cover w-full h-full"
        alt="cheminée a bois"
      />
    </div>
    <div
      class="bg-yellow-900 rounded-xl aspect-w-1 aspect-h-1 flex flex-col justify-center"
    >
      <p class="text-col2 font-thin mx-20">
        <strong>STEP 04</strong>
      </p>
      <h1 class="text-white mx-8 text-3xl font-normal tracking-wider">
        OPTIMAL INSTALLATION
      </h1>
      <p class="text-col2 font-thin mx-20">
        <strong>
          <h1 class="text-col2 lg:mx-10 text-xl font-normal">
            We provide our services to you in the manner and within the time
            required
          </h1>
        </strong>
      </p>
    </div>
  </div>
</section>

<div class="Parent flex flex-col">
  <div>Header</div>
  <div class="flex flex-col md:flex-row">
    <div class="basis-3/4 bg-gray-800">Side Bar</div>
    <div class="basis-1/4 bg-yellow-50">Main content</div>
  </div>
</div>
